*.bbl
*.RData
*.so
*.RCheck*
*.dSYM
.*
*.post
*.data
*.lars
*~
*.log
*.aux
*~
*.tar
chopin/
copula/
*.o
*.bak
*.blg
*.toc
*.synctex.gz
BayesBridge_*.tgz
BayesBridge_*.zip
PDF/
Code/C/BridgeRegression.cpp.old
Code/C/BridgeRegression.h-120813
Code/C/X.nir
Code/C/beta.em
Code/C/beta.full
Code/C/beta.ls
Code/C/beta.sig2
Code/C/beta.small
Code/C/blah.txt
Code/C/log
Code/C/pima-indians-diabetes.names
Code/C/samp.txt
Code/C/test2
Code/C/y.nir
Code/DataSets/
Code/R/Test02/
Code/R/bbridge.zip
Code/R/horseshoe.R
Code/bbridge.zip
Code/copula_0.999-0.tar.gz-original
Code/BBPackage_0.0-1.tgz
Code/copula_0.999-0.tar.gz
Code/truncgauss.tgz
Notes/bbnotes.pdf
Notes/benchmark.pdf
Notes/temp.pdf
Notes/temp.tex

Code/BBPackage/BayesBridge/LICENSE
Code/BBPackage/BayesBridge/R/
Code/BBPackage/BayesBridge/demo/
Code/BBPackage/BayesBridge/inst/include/
Code/BBPackage/BayesBridge/src-i386/
Code/BBPackage/BayesBridge/src-x86_64/
Code/BBPackage/BayesBridge/src/
Code/BBPackage/BayesBridge_0.0-1.tar.gz
Code/BBPackage/BayesBridge_0.2.tar.gz-shape
Code/BBPackage/BayesBridge_0.2.tar.gz-shape-alpha
Code/BBPackage/BayesBridge_0.2.tar.gz-shape-alpha-prior
Code/BBPackage/BayesBridge_0.2.tar.gz-wb_burn
Code/BBPackage/Demo.R
Code/BBPackage/Test/
Code/BayesBridge/
Code/C/CTrials/
Code/C/Q.bh
Code/C/Q.bhi
Code/C/Q.db
Code/C/Q.dbi
Code/C/X.bh
Code/C/X.bhi
Code/C/X.db
Code/C/X.dbi
Code/C/beta.cout
Code/C/blah
Code/C/test1
Code/C/tnorm.cout
Code/C/tnorm.samp
Code/C/tnrom.samp
Code/C/y.bh
Code/C/y.bhi
Code/C/y.db
Code/C/y.dbi
Code/R/Alpha.R
Code/R/Images/
Code/R/Test03/
Code/R/Test05/
Code/R/yx-ex2-mcmc.RData.gz
Code/BBPackage/BayesBridge_0.2.tar.gz-master
