*.bbl
*.RData
*.so
*.RCheck*
*.dSYM
.*
*.post
*.data
*.lars
*~
*.log
*.aux
*~
*.tar
chopin/
copula/
*.o
*.bak
*.blg
*.synctex.gz
PDF/
Code/C/BridgeRegression.cpp.old
Code/C/BridgeRegression.h-120813
Code/C/X.nir
Code/C/beta.em
Code/C/beta.full
Code/C/beta.ls
Code/C/beta.sig2
Code/C/beta.small
Code/C/blah.txt
Code/C/log
Code/C/pima-indians-diabetes.names
Code/C/samp.txt
Code/C/test2
Code/C/y.nir
Code/DataSets/
Code/R/Test02/
Code/R/bbridge.zip
Code/R/horseshoe.R
Code/bbridge.zip
Code/copula_0.999-0.tar.gz-original
Code/BBPackage_0.0-1.tgz
Code/copula_0.999-0.tar.gz
Code/truncgauss.tgz
Notes/bbnotes.pdf
Notes/benchmark.pdf
Notes/temp.pdf
Notes/temp.tex
